{% extends "base.j2" %}
{% block title %}
Gabe's Ascii Art
{% endblock title %}

{% block content %}
<section class="hero is-info is-medium is-bold">
    <div class="hero-body has-text-centered">
        <h1 class="title is-size-1">Ascii Art App</h1>
    </div>
</section>
{% endblock content %}